h1, h2, p 
{
    text-align: center;
}
h1, h2 {
     font-family: Impact, serif;
}
h1 {
    font-size: 40px;
}
  h2 {
    font-size: 30px
}
body 
{
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
}

/* This is for body element*/
/* So far you have been using type selectors to style elements. A class selector is defined by a name with a dot directly in front of it, like this:
.class-name {
  styles
} */
.established {font-style: italic;}
/* .established for <p> EST 2020*/
.menu 
/* #1 (index.html)
/* .menu(class) was changed from div{} (style elements)*/
{
    background-color: burlywood;
    width: 80%;
/* The current width of the menu will always take up 80% of the body element's width. On a very wide screen, the coffee and dessert appear far apart from their prices.
Add a max-width property to the menu class with a value of 500px to prevent it from growing too wide.
*/
    max-width: 500px;
/* You want to center the div horizontally. You can do this by setting its margin-left and margin-right properties to auto */
    margin-left: auto;
    margin-right: auto;
/* spaces on left and right, top and buttom(padding)
    padding-left: 20px; 
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px
*/
    padding: 20px;

}
.flavor, .dessert
/* #2 
*/
{
    text-align: left;
 /* #5 */   width: 75%;
}
.price
{
    text-align: right;
/* #5 */  width: 25%;
}
/*play around with the width 100% total ideally*/ 
/* #4 The p elements are nested in an article element with the class attribute of item. You can style all the p elements nested anywhere in elements with a class named item like this:
.item p { }
Using the above selector, add a display property with value inline-block so the p elements behave more like inline elements.
*/
.item p
{
display: inline-block;
/*That's closer, but the price didn't stay over on the right. This is because inline-block elements only take up the width of their content
To spread them out, add a width property to the flavor and price class selectors that have a value of 50% each.
*/
/* Check #5 (above) */ 
/*Well that did not work. Styling the p elements as inline-block and placing them on separate lines in the code creates an extra space to the right of the first p element, causing the second one to shift to the next line. One way to fix this is to make each p element's width a little less than 50%
set to 49
*/
/*put flavor p and price p elements in one line and make the width 50%
*/
}